body {
    padding-top: 50px;
}

.coverPhoto {
    height: 25rem;
    width: 30rem;
}

.tallaghtPhoto, .kevinsPhoto, .crumlinPhoto {
    height: 7rem;
    width: 12rem;
}

.panel-heading {
    cursor: pointer;
}

.fa-github, .fa-twitter {
    padding-right: 10px;
}